.detail {
    display: block;
    font-size: 1.2em;
    /* margin-top: 0.83em; */
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.details {
    margin-bottom: 12px;
}
@media only screen and (max-width: 600px) {
    .detail {
        font-size: 0.8rem;
    }
    .details {
        margin-bottom: 40px;
    }
  }